body{
    background-color: black;
    font-family: 'Calistoga', cursive;
}
header{
    background-color: rgba(77, 72, 72);
    height: auto;
    align-content: center;

}
header img{
    padding: 5px;
}
.webName{
    float: left;
    margin:15px auto;
    padding: 10px;
    text-align: center;
    font-family: 'Calistoga', cursive;
    font-size: 48px;
}
header nav{
    background-color: rgb(77,72,72);
    float: right;
    width: auto;
    margin-right: 40%;
}
#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 20px;
    width: 250px;
    border: 1px solid #646464;
    background: white;
    border-radius: 50px 3px 3px 50px;
}

#submit
{       
    background-color: rgba(43, 1, 1, 0.8);
    border-radius: 3px 50px 50px 3px;    
    height: 32px;
    padding: 0;
    width: 90px;
    font-size: 15px;
    cursor: pointer;
    color: white;    
}


#submit:active {       
    background: rgb(43, 1, 1, 0.8);
    outline: none;
}

header li{
    display: inline-block;
    background-color: rgba(43, 1, 1, 0.8);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    width:auto;
    position: static;
}
header li a{
    text-decoration: none;
    color: white;
}
.log-out{
    position:fixed;
    right:10px;
    top:5px;
}
header a img{
    border-radius: 50%;
}
figure{
    display: inline-block;
    border: 2px white;
    position: relative;
}
.movie-galerie img{
    position: relative;
    padding:4px;
    background-color:grey;
    border-radius:20px;
    -webkit-transition:opacity 0.3s ease-in-out 0.1s;
    top:100px;
}
.movie-galerie img:hover{
    opacity: 0.1;
}
figcaption{
    color: red;
    text-align: center;
    position: relative;
    top: -200px;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    -webkit-transition:opacity 0.3 ease-in-out 0.5s;
    opacity: 0;
    font-size: large;

}
.movie-galerie figcaption:hover{
    opacity: 1;
}
figure button{
    position: relative;
    top:-200px;
    left: 50px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(61, 4, 4);
    color: white;
}
footer{
    margin: 100px auto;
    clear:both;
    border-top:1px dashed rgb(184, 178, 178);
    height: 30px;
}
footer p{
    margin-top: 50px;
    margin-left: 35%;
    float: left;
    color:grey;
    font-size: 20px;
}
footer ul{
    float: left;
    margin-left: center;
}
footer li{
    float: left;
    margin: 25px;
    width:auto;
    padding-top: 25px;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
    -moz-transition:-moz-transform 0.3s ease-in-out 0.1s;
    -ms-transition:-ms-transform 0.3s ease-in-out 0.1s;
}
footer li img{
    border-radius: 7px;
}
footer li img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}