body{
    background-color: black;
    font-family: 'Calistoga', cursive;
}
header{
    background-color: rgba(77, 72, 72);
    height: auto;
    align-content: center;

}
header img{
    padding: 5px;
}
.webName{
    float: left;
    margin:15px auto;
    padding: 10px;
    text-align: center;
    font-family: 'Calistoga', cursive;
    font-size: 48px;
}
header nav{
    background-color: rgb(211, 42, 42);
    float: right;
    width: auto;
    margin-right: 40%;
}
header li{
    background-color: rgba(15, 1, 1, 0.8);
    border-radius: 5px;
    float: left;
    margin: 5px;
    width:auto;
    padding: 5px;
    font-size: 20px;
    position: static;
}
header li a{
    text-decoration: none;
    color: white;
}
.log-out{
    position:fixed;
    right:10px;
    top:5px;
}
header a img{
    border-radius: 50%;
}
footer{
    margin: 100px auto;
    clear:both;
    border-top:1px dashed rgb(184, 178, 178);
    height: 30px;
}
footer p{
    margin-top: 50px;
    margin-left: 35%;
    float: left;
    color:grey;
    font-size: 20px;
}
footer ul{
    float: left;
    margin-left: center;
}
footer li{
    float: left;
    margin: 25px;
    width:auto;
    padding-top: 25px;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
    -moz-transition:-moz-transform 0.3s ease-in-out 0.1s;
    -ms-transition:-ms-transform 0.3s ease-in-out 0.1s;
}
footer li img{
    border-radius: 7px;
}
footer li img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}