body{
    background-color: black;
    color: white;
    font-family: 'Calistoga', cursive;
}
header{
    background-color: grey;
    color: black;
    width: 100%;
    top:0px;
}
header div{
    vertical-align: middle;
    display: inline;
    padding: 5px;
    font-size: 50px;
}
header img{
    vertical-align: middle;
    height: 100px;
    padding: 4px;
}
header nav{
    display: inline-block;
}
header nav ul li{
    display: inline-block;
    background-color: rgba(43, 1, 1, 0.8);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    width:auto;
    position: static;
    color: white;
}   
header li a{
    text-decoration: none;
    color: white;
}
#search,
#submit{
    float: left;
}
#search {
    padding: 5px 9px;
    height: 20px;
    width: 250px;
    border: 1px solid #646464;
    background: white;
    border-radius: 50px 3px 3px 50px;
}
#submit{       
    background-color: rgba(43, 1, 1, 0.8);
    border-radius: 3px 50px 50px 3px;    
    height: 32px;
    padding: 0;
    width: 90px;
    font-size: 15px;
    cursor: pointer;
    color: white;    
}
#submit:active{       
    background: rgb(43, 1, 1, 0.8);
    outline: none;
}
.log-out{
    position:absolute;
    right:10px;
    top:55px;
}
header a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
@media screen and (max-width:600px){
    header img{
        height:50px;
    }
    header div{
        font-size: 15px;
    }
    header nav ul li{
        font-size: 10px;
        padding: 3px;
        margin: 2px;
    }
    .log-out{
        right: 5px;
        top: 35px;
    }
    header a img{
        width: 15px;
        height: 15px;
    }
    #search{
        width: 120px;
        height: 10px;
    }
    #submit{
        width: 50px;
        height: 22px;
        font-size: 10px;
    }
}
@media screen and (max-width:400px){
    header img{
        height:40px;
    }
}
main{
    background-color: grey;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 2%;
    border-radius: 10px;
}
.video{
    float: left;
    margin:10px;
    margin-top: 2%;    
}
iframe{
    width: 400px;
    height: 280px;
}
@media screen and (max-width:600px){
    main{
        background-color: black;
    }
    .video{
        background-color: grey;
        width: 100%;
        position: relative;
        left: -2.5%;
        border-radius: 10px 10px 0px 0px;
    }
    iframe{
        width: 200px;
        height: 140px;
        position: relative;
        left: 20%;
        top: 10px;
        margin-bottom: 15px;
    }
}

section{
    padding: 5px;
    background-color: grey;
}

}
@media screen and (max-width:600px){
    section{
        float:left;
    }
}
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
        text-decoration: underline;
    }
    p{
        text-indent: 20px;
        text-align: justify;
        margin-right: 10px;
}
@media screen and (max-width:600px){
    h1{
        font-size: 18px;
    }
    h2{
        font-size:14px;
    }
    h3{
        font-size: 12px;
    }
    p{
        font-size: 8px;
    }
}
.name{
position: relative;
left: 5%;
float: left;
}
.rating{
    position: relative;
    left: 15%
}
.rating img{
    float: left;
}
.related{
    background-color: grey;
    height: 200px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px double darkred;
    left: 15%;
}
@media screen and (max-widht:600px){
    .related{
        width: 100%;
    }
}
figure{
    float: left;
    border: 2px white;
    position: relative;
    text-align: center;
    height: 350px;
}
.movie-galerie img{
    position: relative;
    padding:4px;
    background-color:grey;
    border-radius:20px;
    top:50px;
    width: 200px;
    height: 300px;
}

@media screen and (max-width:600px){
    figure{
        height: 180px;
        width: 120px;
        position: static;
        margin: 2px;
    }
}
footer{
    position: fixed;
    width: 100%;
    border-top: 1px dashed white;
    bottom: 0px;
    text-align: center;
}
footer section{
    background-color: black;
}
footer li{
    display: inline-block;
    margin: 0px 30px 0px 0px;
    border-image: round ;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
    -moz-transition:-moz-transform 0.3s ease-in-out 0.1s;
    -ms-transition:-ms-transform 0.3s ease-in-out 0.1s;
}
footer li img{
    border-radius: 7px;
}
footer li img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}