body {
  background-color: black;
  color: white;
  font-family: 'Calistoga', cursive;
}
header {
  background-color: grey;
  color: black;
  width: 100%;
  top: 0px;
}
header div {
  vertical-align: middle;
  display: inline;
  padding: 5px;
  font-size: 50px;
}
header img {
  vertical-align: middle;
  height: 100px;
  padding: 4px;
}
header nav {
  display: inline-block;
}
header nav ul li {
  display: inline-block;
  background-color: rgba(43, 1, 1, 0.8);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  width: auto;
  position: static;
  color: white;
}
header li a {
  text-decoration: none;
  color: white;
}
#search,
#submit {
  float: left;
}
#search {
  padding: 5px 9px;
  height: 20px;
  width: 250px;
  border: 1px solid #646464;
  background: white;
  border-radius: 50px 3px 3px 50px;
}
#submit {
  background-color: rgba(43, 1, 1, 0.8);
  border-radius: 3px 50px 50px 3px;
  height: 32px;
  padding: 0;
  width: 90px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}
#submit:active {
  background: rgb(43, 1, 1, 0.8);
  outline: none;
}
.log-out {
  position: absolute;
  right: 10px;
  top: 55px;
}
header a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  header img {
    height: 50px;
  }
  header div {
    font-size: 15px;
  }
  header nav ul li {
    font-size: 10px;
    padding: 3px;
    margin: 2px;
  }
  .log-out {
    right: 5px;
    top: 35px;
  }
  header a img {
    width: 15px;
    height: 15px;
  }
  #search {
    width: 120px;
    height: 10px;
  }
  #submit {
    width: 50px;
    height: 22px;
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  header img {
    height: 40px;
  }
}
.movie-galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
figure {
  float: left;
  border: 2px white;
  text-align: center;
  height: 350px;
}
.movie-galerie img {
  position: relative;
  padding: 4px;
  background-color: grey;
  border-radius: 20px;
  top: 50px;
  width: 200px;
  height: 300px;
}
figcaption {
  color: rgb(255, 136, 0);
  text-align: center;
  position: relative;
  top: -260px;
  left: 5px;
  border-radius: 15px;
  width: 200px;
  height: 300px;
  background-color: black;
  box-sizing: border-box;
  opacity: 0;
  font-size: large;
  -webkit-transition: opacity 0.3;
  -moz-transition: opacity 0.3;
  -ms-transition: opacity 0.3;
}
.movie-galerie figcaption:hover {
  opacity: 1;
}
figure button {
  position: relative;
  top: -250px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(61, 4, 4);
  color: white;
}
@media screen and (max-width: 600px) {
  figure {
    height: 180px;
    width: 120px;
    position: static;
    margin: 2px;
  }
  .movie-galerie img {
    width: 100px;
    height: 150px;
    top: 20px;
  }
  figure button {
    font-size: 10px;
    width: 50px;
    height: 15px;
    border-radius: 5px;
    top: -135px;
  }
  figcaption {
    top: -140px;
    left: 10px;
    width: 100px;
    height: 150px;
    font-size: 8px;
  }
}
footer {
  position: fixed;
  width: 100%;
  border-top: 1px dashed white;
  background-color: black;
  bottom: 0px;
  text-align: center;
}
footer li {
  display: inline-block;
  margin: 0px 30px 0px 0px;
  border-image: round;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.3s ease-in-out 0.1s;
  -ms-transition: -ms-transform 0.3s ease-in-out 0.1s;
}
footer li img {
  border-radius: 7px;
}
footer li img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
